@use "index" as *;
/* footer */

.footer__wrapper {
  padding-top: 35px;
  border-top: 1px solid var(--color-dark);

  @media(max-width: $md-width) {
    grid-template-columns: 1fr;
  }
}

.footer__main {
  display: grid;
  padding-bottom: 72px;
  grid-template-columns: 230px 1fr auto;
  grid-template-areas: "logo nav contacts";

  @media(max-width: $md-width) {
    padding-bottom: 32px;
    grid-template-columns: 1fr auto;
    grid-template-areas: "nav nav"
                         "logo contacts";
    row-gap: 32px;
  }

  @media(max-width: $sm-width) {
    grid-template-columns: 1fr;
    grid-template-areas: "nav"
                         "logo"
                         "contacts";
    gap: 32px;
  }
}

.footer__logo {
  grid-area: logo;

  img {
    height: auto;
    width: 111px;
    object-fit: contain;
  }
}

.footer__nav {
  @include reset-list;
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;

  h3 {
    margin: 0;
    margin-bottom: 12px;
    font-size: var(--font-size-xl);
    line-height: 22px;
    font-weight: 700;
  }

  ul {
    @include reset-list;
    columns: 2;

    @media(max-width: $lg-width) {
      columns: 1;
    }

    @media(max-width: $md-width) {
      display: inline-flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      column-gap: 16px;
    }
  }

  a {
    display: inline-block;
    padding: 5px;
    color: var(--color-dark);
    text-decoration: none;
    transition: color 0.2s ease-out;

    @media(max-width: $md-width) {
      padding: 5px 0;
      text-decoration: underline;
      text-underline-offset: 3px;
    }

    &:hover {
      color: var(--color-brand);
    }
  }
}

.footer__contacts {
  grid-area: contacts;
  justify-self: end;

  @media(max-width: $md-width) {
    justify-self: start;
  }

  h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: var(--font-size-xl);
    font-weight: 700;
  }

  ul {
    @include reset-list;
  }

  li {
    margin-bottom: 32px;

    @media(max-width: $md-width) {
      margin-bottom: 16px;
    }
  }

  li:last-child {
    margin-bottom: 0;
  }

  span {
    display: block;
    margin-bottom: 4px;
    font-size: 13px;
  }

  a {
    font-size: var(--font-size-title-sub);
    color: var(--color-dark);
    text-decoration: none;
    font-weight: 500;
    white-space: nowrap;
    transition: color 0.2s ease-out;

    &:hover {
      color: var(--color-brand);
    }
  }
}

.footer__bottom {
  display: flex;
  padding: 16px 0;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  border-top: 1px dashed #707070;
}

.footer__copyright {

  @media(max-width: $mobile-width) {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  p {
    margin: 0;
    font-size: var(--font-size-md);
    line-height: 22px;
  }
}

.footer__social {
  flex-grow: 1;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  @media(max-width: $mobile-width) {
    width: 100%;
    justify-content: flex-start;
  }

  ul {
    @include reset-list;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 18px;
  }
}

.footer__social-link {
  display: flex;
  height: 32px;
  width: 32px;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  img {
    height: 20px;
    width: 28px;
    object-fit: contain;
  }
}

.footer__address {
  max-width: 200px;

  @media(max-width: $mobile-width) {
    max-width: none;
  }

  p {
     margin: 0;
    font-size: var(--font-size-md);
    line-height: 22px;
  }
}

/* end footer */
