@use "index" as *;
/* header */

.header {
  padding: 20px 0;
  background-color: var(--color-light);
}

.header__wrapper {
  display: grid;
  grid-template-columns: 230px 1fr auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header__logo {
  display: flex;

  a {
    display: block;
    text-decoration: none;
  }

  a:hover {
    color: var(--color-brand);
  }

  img {
    height: auto;
    width: 110px;
  }
}

.header__nav {
  @include reset-list;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  column-gap: 16px;

  a {
    display: inline-flex;
    padding: 4px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    flex-wrap: nowrap;
    font-size: var(--font-size--xl);
    line-height: 1;
    color: var(--color-dark);
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s ease-out;
  }

  a:hover {
    color: var(--color-brand);
  }

  span {
    display: inline-block;
    position: relative;
  }

  span::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: var(--color-dark);
    transform: scale(0);
    transition: transform 0.2s ease-out;
    transform-origin: left;
    position: absolute;
    left: 0;
    bottom: -4px;
  }

  img {
    height: 16px;
    width: 16px;
    object-fit: contain;
  }
}

.header__list {
  @include reset-list;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 16px;

  a {
    display: flex;
    height: 32px;
    width: 32px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &:hover {

      svg {
        stroke: var(--color-brand);
      }
    }
  }

  button {
    @include reset-button;
    display: flex;
    height: 32px;
    width: 32px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {

      svg {
        stroke: var(--color-brand);
      }
    }
  }

  svg {
    height: auto;
    width: 22px;
    fill: var(--color-light);
    stroke: var(--color-dark);
    transition: stroke 0.2s ease-out;
  }
}

/* end header */
