@use "mixins" as *;
/* inner-page */

.inner-page {
  padding-top: 24px;
  padding-bottom: 80px;
}

.inner-page__grid {
  display: grid;
  grid-template-columns: 1fr;

  &--sidebar {
    grid-template-columns: 230px 1fr;
    grid-template-areas: "sidebar main";
  }
}

.inner-page__main {
  grid-area: main;
}

.inner-page__filter {
  grid-area: sidebar;
}

.inner-page__wysiwyg {
  @include reset-list;

  > li {
    margin-bottom: 40px;
  }

  > li:last-child {
    margin-bottom: 0;
  }
}

/* end inner-page */
