@use "mixins" as *;

/* sort */

.sort {
  display: flex;
  margin-bottom: 20px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  flex-wrap: wrap;

  form {
    flex-grow: 1;
    margin: 0;
    padding: 0;
  }

  ul {
    @include reset-list;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.sort__item {
  position: relative;

  input {
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    inset: 0;
    pointer-events: none;
  }

  label {
    display: inline-block;
    padding: 7px 16px;
    border: 1px solid var(--color-dark);
    border-radius: 3px;
    background-color: var(--color-light);
    font-size: var(--font-size-sm);
    transition: all 0.2s ease-out;
    cursor: pointer;
  }
}

.sort__item input:checked + label {
  color: var(--color-light);
  background-color: var(--color-dark);
  text-shadow: 0px 0px 1px var(--color-light);
}

.sort__value {
  display: inline-block;
  padding-top: 4px;
  font-size: var(--font-size-sm);
  white-space: nowrap;
}

/* end sort */
