@use "var" as *;
/* title */

.title {
  margin-bottom: 20px;
}

.title__main {
  display: flex;
  margin-bottom: 16px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 16px;

  h1 {
    flex-grow: 1;
    margin: 0;
    font-size: var(--font-size-title);
    font-weight: 700;

    @media(max-width: $md-width) {
      font-size: 32px;
    }
  }

  img {
    padding-top: 8px;
    height: auto;
    width: 32px;
    object-fit: contain;

    @media(max-width: $md-width) {
      display: none;
    }
  }
}

/* end title */
