@use "mixins" as *;

/* wysiwyg */

.wysiwyg {

  h2 {
    margin: 0;
    margin-bottom: 11px;
    font-size: var(--font-size-title-sub);
    line-height: 1;
    color: var(--color-dark);
    font-weight: 700;
  }

  p {
    margin: 0;
    margin-bottom: 16px;
    font-size: var(--font-size-lg);
    line-height: 26px;
    color: var(--color-dark);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* end wysiwyg */
